:root {
    --main--color: #3e3e3e;
    --main--color-light: #f5f5f5;
    --secondary--color: #f5f5f5;
    --accent--color: #c31010;

    --main--font: 'Roboto', sans-serif;
    --secondary--font: 'Roboto', sans-serif;
  
    --small--font-size: 0.7rem;
    --medium--font-size: 0.9rem;
    --large--font-size: 1.1rem;
    --xlarge--font-size: 1.5rem;
 

}

body {
    color: white;
}

.about-wrapper {
    padding: 0% 10% 0% 10%;
}

.about-container--content--text {

    font-weight: bold;
    color: var(--main--color-light);
    margin: 1% 5% 0% 5%;
}

.about-container--content--title {
    font-weight: bold;
    color: var(--main--color-light);
    margin: 4% 5% 10% 5%;
}

.text3 {
    margin-bottom: 5%;
}

.about-container--content {
    border: 4px solid var(--accent--color);
    margin: 5% 0% 5% 0%;;
}






@media (max-device-width: 479px) {
    .about-container--content--text {
        font-size: var(--small--font-size);
        padding: 2% 2% 2% 2%;
        text-align: left;

    }

    .about-wrapper {
        padding: 0% 4% 0% 4%;
    }
}

@media (min-device-width: 479px)and (max-device-width: 991px) {
    .about-container--content--text {
        font-size: var(--medium--font-size);
        padding: 2% 2% 2% 2%;
        text-align: left;

    }

   
}


@media (min-device-width: 991px) {
    .about-container--content--text {
        font-size: var(--medium--font-size);
        padding: 2% 2% 2% 2%;
        text-align: left;
        font-weight: bold;
    }

    .text3 {
        margin-bottom: 2%;
    }
}

@media (min-device-width: 1280px) {
    .about-wrapper {
        padding: 0% 20% 0% 20%;
    }

    .about-container--content--text {
        font-size: var(--medium--font-size);
        padding: 2% 3% 2% 3%;
        text-align: left;
    }

    .text3 {
        margin-bottom: 2%;
    }
}


@media (min-device-width: 1920px) {
    .about-wrapper {
        padding: 0% 25% 0% 25%;
    }

    .about-container--content--text {
        font-size: var(--large--font-size);
        padding: 2% 10% 2% 10%;
        text-align: left;
        margin: 0;

    }
}